<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>System</name>
    <events>
        <comment>Start of game indicated by level &lt; 0</comment>
        <event-block sid="5041887741384449">
            <conditions>
                <condition id="-2" name="On start of layout" sid="9586400096591995" type="System" />
                <condition id="-14" name="Compare variable" sid="6325119260768496" type="System">
                    <param id="0" name="Variable">level</param>
                    <param id="1" name="Comparison">2</param>
                    <param id="2" name="Value">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="1980230169914875" type="System">
                    <param id="0" name="Variable">score</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="-9" name="Set value" sid="7190139706556503" type="System">
                    <param id="0" name="Variable">lives</param>
                    <param id="1" name="Value">5</param>
                </action>
                <action id="-9" name="Set value" sid="5005838009474579" type="System">
                    <param id="0" name="Variable">level</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Call function" sid="616081806516316" type="Function">
                    <param id="0" name="Name">&quot;setUpLevel&quot;</param>
                    <param id="1" name="Parameter {n}"></param>
                </action>
            </actions>
        </event-block>
        <comment>Start a new level off. The purpose of this is to set up rocket parts according to a specification.</comment>
        <event-block sid="6697144844463802">
            <conditions>
                <condition id="-2" name="On start of layout" sid="7784513005657095" type="System" />
            </conditions>
            <actions>
                <action id="-9" name="Destroy" sid="8795966724139778" type="Carriable" />
                <action id="0" name="Call function" sid="6251887164157098" type="Function">
                    <param id="0" name="Name">&quot;updateDisplay&quot;</param>
                    <param id="1" name="Parameter {n}"></param>
                </action>
                <action id="0" name="Call function" sid="744401293487361" type="Function">
                    <param id="0" name="Name">&quot;setGameStatus&quot;</param>
                    <param id="1" name="Parameter {n}"></param>
                </action>
                <action behavior="Physics" id="15" name="Set velocity" sid="9117018186853488" type="Player">
                    <param id="0" name="X component">0</param>
                    <param id="1" name="Y component">0</param>
                </action>
                <action id="-3" name="Set position" sid="8013605721298836" type="Player">
                    <param id="0" name="X">320</param>
                    <param id="1" name="Y">368</param>
                </action>
                <action id="-9" name="Destroy" sid="4272437629457238" type="Laser" />
                <action id="-9" name="Destroy" sid="8408364786755358" type="Enemy" />
            </actions>
        </event-block>
        <comment>Rocket in flight</comment>
        <event-block sid="6504884837424828">
            <conditions>
                <condition id="-7" name="Compare instance variable" sid="6279411457972584" type="Rocket">
                    <param id="0" name="Instance variable">flightDirection</param>
                    <param id="1" name="Comparison">1</param>
                    <param id="2" name="Value">0</param>
                </condition>
            </conditions>
            <actions>
                <action id="-2" name="Set Y" sid="4737799903626588" type="Rocket">
                    <param id="0" name="Y">Rocket.Y+Rocket.flightDirection*40*dt</param>
                </action>
                <action id="-3" name="Set position" sid="3275693862227638" type="Engine">
                    <param id="0" name="X">Rocket.X</param>
                    <param id="1" name="Y">Rocket.Y</param>
                </action>
            </actions>
            <sub-events>
                <comment>Rocket lands</comment>
                <event-block sid="1736707288550429">
                    <conditions>
                        <condition id="-2" name="Compare Y" sid="6706425460160372" type="Rocket">
                            <param id="0" name="Comparison">4</param>
                            <param id="1" name="Y co-ordinate">368</param>
                        </condition>
                        <condition id="-7" name="Compare instance variable" sid="8782529092704706" type="Rocket">
                            <param id="0" name="Instance variable">flightDirection</param>
                            <param id="1" name="Comparison">4</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-15" name="Set visible" sid="3910953222269277" type="Player">
                            <param id="0" name="Visibility">1</param>
                        </action>
                        <action id="-9" name="Set value" sid="3583747833532239" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Value">0</param>
                        </action>
                        <action id="0" name="Call function" sid="3139401642209292" type="Function">
                            <param id="0" name="Name">&quot;setGameStatus&quot;</param>
                            <param id="1" name="Parameter {n}"></param>
                        </action>
                        <action id="-10" name="Set value" sid="2050516957659648" type="Rocket">
                            <param id="0" name="Instance variable">flightDirection</param>
                            <param id="1" name="Value">0</param>
                        </action>
                    </actions>
                </event-block>
                <comment>Rocket leaves top off screen, set up for next level and reload layout</comment>
                <event-block sid="8001028074686114">
                    <conditions>
                        <condition id="-2" name="Compare Y" sid="6070982711538283" type="Rocket">
                            <param id="0" name="Comparison">2</param>
                            <param id="1" name="Y co-ordinate">32</param>
                        </condition>
                        <condition id="-7" name="Compare instance variable" sid="8632540888137005" type="Rocket">
                            <param id="0" name="Instance variable">flightDirection</param>
                            <param id="1" name="Comparison">2</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-10" name="Add to" sid="5736039833083882" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Value">1</param>
                        </action>
                        <action id="-10" name="Add to" sid="931891832795132" type="System">
                            <param id="0" name="Variable">level</param>
                            <param id="1" name="Value">1</param>
                        </action>
                        <action id="0" name="Call function" sid="3366391586072056" type="Function">
                            <param id="0" name="Name">&quot;setUpLevel&quot;</param>
                            <param id="1" name="Parameter {n}"></param>
                        </action>
                        <action id="-26" name="Restart layout" sid="73350980514338" type="System" />
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <comment></comment>
        <comment>Functions</comment>
        <comment></comment>
        <comment>This function is called to set up a new level. Sets the rocket ID and enemy type, and the game state to -3 (landing). Levels 0,5,10,15 etc. have the construction part.</comment>
        <event-block sid="9902537870433477">
            <conditions>
                <condition id="0" name="On function" sid="7979493115370584" type="Function">
                    <param id="0" name="Name">&quot;setUpLevel&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="77247414657284" type="System">
                    <param id="0" name="Variable">rocketID</param>
                    <param id="1" name="Value">floor(level/5) % 4 + 1</param>
                </action>
                <action id="-9" name="Set value" sid="3524712388349877" type="System">
                    <param id="0" name="Variable">gameState</param>
                    <param id="1" name="Value">-3</param>
                </action>
                <action id="-9" name="Set value" sid="8229410155075214" type="System">
                    <param id="0" name="Variable">enemyType</param>
                    <param id="1" name="Value">level % 8 + 1</param>
                </action>
            </actions>
            <sub-events>
                <comment>On every 5th level, we have a construction level.</comment>
                <event-block sid="7653908394750895">
                    <conditions>
                        <condition id="-8" name="Compare two values" sid="7401880798318187" type="System">
                            <param id="0" name="First value">level % 5</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Second value">0</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-9" name="Set value" sid="2546516873548487" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Value">-2</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
        <comment>This function updates the score, highscore and lives.</comment>
        <event-block sid="6696048532833602">
            <conditions>
                <condition id="0" name="On function" sid="7462318000554224" type="Function">
                    <param id="0" name="Name">&quot;updateDisplay&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="7207252728833015" type="System">
                    <param id="0" name="Variable">highScore</param>
                    <param id="1" name="Value">max(score,highScore)</param>
                </action>
                <action id="0" name="Set text" sid="1705340668261667" type="Score">
                    <param id="0" name="Text">right(&quot;00000&quot; &amp; score,6)</param>
                </action>
                <action id="0" name="Set text" sid="7918953569045296" type="HighScore">
                    <param id="0" name="Text">right(&quot;00000&quot; &amp; highScore,6)</param>
                </action>
                <action id="0" name="Set text" sid="5088055211989984" type="Lives">
                    <param id="0" name="Text">lives</param>
                </action>
                <action disabled="1" id="0" name="Set text" sid="9678484432039937" type="HighScore">
                    <param id="0" name="Text">&quot;Level: &quot;&amp;level</param>
                </action>
            </actions>
        </event-block>
        <comment>This function sets up the game state from -2 to 6 - puts all the bits that should be there in the right position.</comment>
        <event-block sid="9246840300558195">
            <conditions>
                <condition id="0" name="On function" sid="7028841211430864" type="Function">
                    <param id="0" name="Name">&quot;setGameStatus&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="4" name="Set animation" sid="8234424294901692" type="Rocket">
                    <param id="0" name="Animation">&quot;Rocket&quot; &amp; rocketID</param>
                    <param id="1" name="From">1</param>
                </action>
                <action id="2" name="Stop" sid="4660877221198409" type="Rocket" />
                <action id="-9" name="Destroy" sid="8426743277964011" type="Component" />
                <action id="-9" name="Destroy" sid="9805962672069319" type="Engine" />
            </actions>
            <sub-events>
                <comment>If game state &lt; 0, then the rocket base only is visible. (e.g. frame 7), create the top component and middle components on their respective platforms</comment>
                <event-block sid="2101559968376403">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="7079242438848551" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">2</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                        <condition id="-14" name="Compare variable" sid="8813007047385378" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">1</param>
                            <param id="2" name="Value">-3</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="5" name="Set frame" sid="486573580898598" type="Rocket">
                            <param id="0" name="Frame number">7</param>
                        </action>
                        <action id="-3" name="Create object" sid="6131067315877261" type="System">
                            <param id="0" name="Object to create">Component</param>
                            <param id="1" name="Layer">1</param>
                            <param id="2" name="X">112</param>
                            <param id="3" name="Y">144</param>
                        </action>
                        <action id="4" name="Set animation" sid="5388877754175327" type="Component">
                            <param id="0" name="Animation">&quot;Rocket&quot; &amp; rocketID</param>
                            <param id="1" name="From">1</param>
                        </action>
                        <action id="-10" name="Set value" sid="213087761789299" type="Component">
                            <param id="0" name="Instance variable">carryID</param>
                            <param id="1" name="Value">-1</param>
                        </action>
                        <action id="2" name="Stop" sid="6173750064101236" type="Component" />
                        <action id="5" name="Set frame" sid="3133224232280195" type="Component">
                            <param id="0" name="Frame number">0</param>
                        </action>
                        <action id="-3" name="Create object" sid="9398032895411261" type="System">
                            <param id="0" name="Object to create">Component</param>
                            <param id="1" name="Layer">1</param>
                            <param id="2" name="X">272</param>
                            <param id="3" name="Y">192</param>
                        </action>
                        <action id="4" name="Set animation" sid="9408193631230741" type="Component">
                            <param id="0" name="Animation">&quot;Rocket&quot; &amp; rocketID</param>
                            <param id="1" name="From">1</param>
                        </action>
                        <action id="-10" name="Set value" sid="914106930507241" type="Component">
                            <param id="0" name="Instance variable">carryID</param>
                            <param id="1" name="Value">-2</param>
                        </action>
                        <action id="2" name="Stop" sid="1463195913924589" type="Component" />
                        <action id="5" name="Set frame" sid="3992499049360949" type="Component">
                            <param id="0" name="Frame number">1</param>
                        </action>
                    </actions>
                    <sub-events>
                        <comment>For -1, we move the rocket middle section to where it should be, as we&apos;ve collected it.</comment>
                        <event-block sid="9830357207787264">
                            <conditions>
                                <condition id="-14" name="Compare variable" sid="777372666033757" type="System">
                                    <param id="0" name="Variable">gameState</param>
                                    <param id="1" name="Comparison">0</param>
                                    <param id="2" name="Value">-1</param>
                                </condition>
                            </conditions>
                            <actions>
                                <action id="-3" name="Set position" sid="5444078529598086" type="Component">
                                    <param id="0" name="X">Rocket.X</param>
                                    <param id="1" name="Y">336</param>
                                </action>
                                <action behavior="Physics" id="27" name="Set enabled" sid="9894551833900051" type="Component">
                                    <param id="0" name="Mode">0</param>
                                </action>
                            </actions>
                        </event-block>
                    </sub-events>
                </event-block>
                <comment>If the game state is 0-6 then we have a fueled rocket, the graphic is selected using the animation frame which is the same as the number of fuel items.</comment>
                <event-block sid="6116575630002023">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="9367520759624064" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">5</param>
                            <param id="2" name="Value">0</param>
                        </condition>
                        <condition id="-14" name="Compare variable" sid="8112317022469655" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">3</param>
                            <param id="2" name="Value">6</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="5" name="Set frame" sid="5775989057581865" type="Rocket">
                            <param id="0" name="Frame number">gameState</param>
                        </action>
                    </actions>
                </event-block>
                <comment>Rocket is landing.</comment>
                <event-block sid="9705438854385354">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="2989297769670427" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">-3</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-2" name="Set Y" sid="6433678572546155" type="Rocket">
                            <param id="0" name="Y">32</param>
                        </action>
                        <action id="-10" name="Set value" sid="4340176557000117" type="Rocket">
                            <param id="0" name="Instance variable">flightDirection</param>
                            <param id="1" name="Value">1</param>
                        </action>
                        <action id="-3" name="Create object" sid="4485162249800511" type="System">
                            <param id="0" name="Object to create">Engine</param>
                            <param id="1" name="Layer">0</param>
                            <param id="2" name="X">32</param>
                            <param id="3" name="Y">32</param>
                        </action>
                        <action id="-15" name="Set visible" sid="278642152778496" type="Player">
                            <param id="0" name="Visibility">0</param>
                        </action>
                    </actions>
                </event-block>
                <comment>Rocket is taking off</comment>
                <event-block sid="1389704252866479">
                    <conditions>
                        <condition id="-14" name="Compare variable" sid="350646328089511" type="System">
                            <param id="0" name="Variable">gameState</param>
                            <param id="1" name="Comparison">0</param>
                            <param id="2" name="Value">6</param>
                        </condition>
                    </conditions>
                    <actions>
                        <action id="-10" name="Set value" sid="3017000297106976" type="Rocket">
                            <param id="0" name="Instance variable">flightDirection</param>
                            <param id="1" name="Value">-1</param>
                        </action>
                        <action id="-3" name="Create object" sid="7451420812442995" type="System">
                            <param id="0" name="Object to create">Engine</param>
                            <param id="1" name="Layer">0</param>
                            <param id="2" name="X">32</param>
                            <param id="3" name="Y">32</param>
                        </action>
                        <action id="-15" name="Set visible" sid="3193335492515542" type="Player">
                            <param id="0" name="Visibility">0</param>
                        </action>
                    </actions>
                </event-block>
            </sub-events>
        </event-block>
    </events>
</c2eventsheet>
